target/
*.class
*.jar
*.war

.idea/
*.iml
.vscode/
*.code-workspace

.DS_Store
Thumbs.db

application-local.yml
.env

# Maven wrapper jar (baixado automaticamente)
.mvn/wrapper/maven-wrapper.jar

*.log
logs/

design-docs/
docs

*.mcp*
*.claude
*.idea
